.features#features
    .features__layer
        .container
            h2.title_h2.main-color.text-center.text-uppercase.features__title
                strong
                    |Features
            #carouselFeaturesIndicators.carousel.slide.features__carousel(data-ride='carousel')
                .carousel-inner 
                    .carousel-item.active
                        .carousel-item__layer.d-flex.justify-content-between.align-items-center
                            .card.features__card
                                i.ico
                                    +svg2('branding')
                                .card-body
                                    h5.card-title Branding
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                            .card.features__card
                                i.ico
                                    +svg2('development')
                                .card-body
                                    h5.card-title Developing
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                            .card.features__card
                                i.ico
                                    +svg2('consulting')
                                .card-body
                                    h5.card-title Consulting
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                    .carousel-item
                        .carousel-item__layer.d-flex.justify-content-between.align-items-center
                            .card.features__card
                                i.ico
                                    +svg2('branding')
                                .card-body
                                    h5.card-title Branding
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                            .card.features__card
                                i.ico
                                    +svg2('development')
                                .card-body
                                    h5.card-title Developing
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                            .card.features__card
                                i.ico
                                    +svg2('consulting')
                                .card-body
                                    h5.card-title Consulting
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                    .carousel-item
                        .carousel-item__layer.d-flex.justify-content-between.align-items-center
                            .card.features__card
                                i.ico
                                    +svg2('branding')
                                .card-body
                                    h5.card-title Branding
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                            .card.features__card
                                i.ico
                                    +svg2('development')
                                .card-body
                                    h5.card-title Developing
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                            .card.features__card
                                i.ico
                                    +svg2('consulting')
                                .card-body
                                    h5.card-title Consulting
                                    
                                    p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                ol.carousel-indicators
                    li.active(data-target='#carouselFeaturesIndicators' data-slide-to='0')
                    li(data-target='#carouselFeaturesIndicators' data-slide-to='1')
                    li(data-target='#carouselFeaturesIndicators' data-slide-to='2')
