.hero#home
    .hero__layer
        #carouselHeroIndicators.carousel.slide.hero__carousel(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#carouselHeroIndicators' data-slide-to='0')
                li(data-target='#carouselHeroIndicators' data-slide-to='1')
                li(data-target='#carouselHeroIndicators' data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='img/green-cyber-circuit-future-technology-concept-background-vector.jpg' alt='First slide')
                    .carousel-caption.d-none.d-md-block
                        h5.title__h1
                            |Meet 
                            strong
                                |Brandi
                            |!
                        p.title__h2
                            span.main-color
                                |/creative 
                            |one page template.
                .carousel-item
                    img.d-block.w-100(src='img/green-cyber-circuit-technology-background-vector.jpg' alt='Second slide')
                    .carousel-caption.d-none.d-md-block
                        h5.title__h1
                            |Meet 
                            strong
                                |Brandi
                            |!
                        p.title__h2
                            span.main-color
                                |/creative 
                            |one page template.
                .carousel-item
                    img.d-block.w-100(src='img/green-eye-cyber-circuit-future-technology-concept-background-vector.jpg' alt='Third slide')
                    .carousel-caption.d-none.d-md-block
                        h5.title__h1
                            |Meet 
                            strong
                                |Brandi
                            |!
                        p.title__h2
                            span.main-color
                                |/creative 
                            |one page template.
            a.carousel-control-prev(href='#carouselHeroIndicators' role='button' data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselHeroIndicators' role='button' data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next