.team#team
    .team__layer
        .container
            h2.title_h2.main-color.text-center.text-uppercase.team__title
                strong
                    |Meet our team
            p.subtitle.text-center.team__subtitle
                |Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore iste neque maxime sit sunt perspiciatis excepturi eligendi dolorum, similique facere cum, asperiores quo illo deleniti eos. Sequi enim neque impedit.
            #carouselTeamIndicators.carousel.slide.team__carousel(data-ride='carousel')
                .carousel-inner 
                    .carousel-item.active
                        .carousel-item__layer.d-flex.justify-content-between.align-items-center
                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-1.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Otto Harmon
                                    p.card-text
                                    | CEO

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-2.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Alec Barnes
                                    p.card-text
                                    | Product Manager

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-3.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Alison Ray
                                    p.card-text
                                    | Frontend Developer

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-5.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Rosanna Hood
                                    p.card-text
                                    | Backend Developer


                    .carousel-item
                        .carousel-item__layer.d-flex.justify-content-between.align-items-center
                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-4.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Rosemary Holman
                                    p.card-text
                                    | Human Resources Manager

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-5.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Rosanna Hood
                                    p.card-text
                                    | Backend Developer

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-6.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Yusuf Haley
                                    p.card-text
                                    | Web designer

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-1.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Otto Harmon
                                    p.card-text
                                    | CEO


                    .carousel-item
                        .carousel-item__layer.d-flex.justify-content-between.align-items-center
                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-2.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Alec Barnes
                                    p.card-text
                                    | Product Manager

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-4.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Rosemary Holman
                                    p.card-text
                                    | Human Resources Manager

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-3.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Alison Ray
                                    p.card-text
                                    | Frontend Developer

                            .card.team__card(style='width: 18rem;')
                                .team-item__wrapper
                                    img.card-img-top(src='img/team-6.jpg' alt='Card image cap')
                                    .team-item__info
                                        h5
                                            |Lorem ipsum dolor!
                                        p
                                            |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam numquam repellendus, aspernatur debitis laudantium neque quas omnis?
                                .card-body
                                    h5.card-title Yusuf Haley
                                    p.card-text
                                    | Web designer


                ol.carousel-indicators
                    li.active(data-target='#carouselTeamIndicators' data-slide-to='0')
                    li(data-target='#carouselTeamIndicators' data-slide-to='1')
                    li(data-target='#carouselTeamIndicators' data-slide-to='2')