.works#works
    .works__layer
        .container.text-center
            h2.title_h2.main-color.text-center.text-uppercase.works__title
                strong
                    |Works
            p.subtitle.text-center.works__subtitle
                |Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore iste neque maxime sit sunt perspiciatis excepturi eligendi dolorum, similique facere cum, asperiores quo illo deleniti eos. Sequi enim neque impedit.
            .filter-button-group.btn-group.js-radio-button-group
                button.works__btn.active(data-filter='*') all
                button.works__btn(data-filter='.node-js') node js
                button.works__btn(data-filter='.react-js') react js
                button.works__btn(data-filter='.vue-js') vue js
                button.works__btn(data-filter='.svelte-js') svelte js
        .grid.works__grid.d-flex.justify-between.align-center.flex-wrap
            .element-item.works__item.node-js
                img(src="img/case1-bg.png", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.react-js
                img(src="img/case2-bg.png", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.react-js
                img(src="img/case3-bg.png", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.node-js
                img(src="img/case4-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.vue-js
                img(src="img/case5-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.vue-js
                img(src="img/case6-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.vue-js
                img(src="img/case7-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.react-js
                img(src="img/case8-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.node-js
                img(src="img/case9-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.svelte-js.node-js
                img(src="img/case10-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.svelte-js
                img(src="img/case11-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi
            .element-item.works__item.svelte-js.node-js
                img(src="img/case12-bg.jpg", alt="")
                .work-item__info
                    i.ico
                        +svg2('eye')
                    h5
                        |Lorem ipsum dolor sit
                    p
                        |By Brandi