footer.footer
	.footer__layer
		.center
			.f-container.footer__container
				.footer__section
					ul.footer__documentation-list.footer__list(data-fields="footer-documentation" data-breakpoint='992')
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="#") 
								|Строительные тендеры
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="#") 
								|Стоимость работ
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="#") 
								|Калькулятор ремонта
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="#") 
								|Реклама
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="#") 
								|Правила
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="#") 
								|Пользовательское соглашение
				.footer__section
					ul.footer__sections-list.footer__list(data-fields="footer-sections" data-breakpoint='992')
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Ремонт квартиры или комнаты
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Плиточные работы
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Штукатурные работы
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Поклейка обоев
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Потолки
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Электромонтажные работы
				.footer__section
					ul.footer__sections-list.footer__list(data-fields="footer-sections" data-breakpoint='992')
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Строительство дома
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Малярные работы
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Монтаж гипсокартона
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Напольные покрытия
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Кровельные работы
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Сантехнические работы
				.footer__section
					ul.footer__sections-list.footer__list(data-fields="footer-sections" data-breakpoint='992')
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Строительство дома
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Малярные работы
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Монтаж гипсокартона
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Напольные покрытия
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Кровельные работы
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="#") 
								|Сантехнические работы
					
					

